<div>
    <h2><%= @event.title %></h2>
    <small><%= @event.date %></small>
    <p><%= @event.description %></p>

    <% if current_user == @event.creator %>
        <div>
            <%= link_to "Edit event", edit_event_path(@event) %><br>
            <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure? "} %>
        </div>
    <% end %>

    <%= link_to "RSVP", rsvp_event_path, class: "btn btn-primary btn-large" %>

    <h3>Attendees:</h3>
    <ul>
        <% @event.attendees.each do |attendee| %>
            <li>
                <%= attendee.name %>
                <% if current_user == attendee %>
                    <%= link_to "Leave", cancel_rsvp_event_path, data: { confirm: "Are you sure leave event?" } %>
                <% end %>
            </li>
        <% end %>
    </ul>   
</div>
